* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  padding: 3%;
}
body {
  border: 2px solid black;
  display: grid;
  grid-template-rows: 4fr 1fr;
}
#content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.main-body {
  display: flex;
  align-items: center;
}

.slide-frame {
  display: flex;
  width: 100%;
  height: 80%;
  border: 1px solid black;
  margin: auto 0;
}
img.slide-img {
  width: 0;
  max-height: 0;
  opacity: 0;
  position: absolute;
  object-fit: cover;
  margin: 0 auto;
  padding: 0;
  transition: opacity 2s linear;
}

.active {
  opacity: 1 !important;
  position: static !important;
  width: 80% !important;
  max-height: 100% !important;
  padding: 10px 0 10px 0 !important;
}

.arrow-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-wrapp img {
  width: 40%;
  height: auto;
  cursor: pointer;
}
#footer,
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.slide-button {
  list-style: none;
  width: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}